{% extends "menu-layout.html" %}
{% block body %}
{% load staticfiles %}
{% load albums_extras %}

<div id="m-main">
  <div id="album-art" class="container"> 

    <div id="cover-art">
      <img class="cover-art-photo" src="{{album.cover_art.url}}">
    </div>
  </div>
  <div class="container">
    <div id="social-top" >

        <ul>
          <li>
          <!-- Email -->
          <a class="social-icons" href="mailto:?Subject={{album.name}}&Body=Check%20out%20this%20album! {{ ABS_URL }}"><img src="{% static 'music/img/icn/email.png' %}" alt="Email" /></a>
          </li>
          <li>
          <!-- Reddit -->
          <a class="social-icons" href="http://reddit.com/submit?url={{ ABS_URL }}&title={{album.name}}" target="_blank"><img src="{% static 'music/img/icn/reddit.png' %}" alt="Reddit" /></a>
          </li>
          <li>
          <!-- Pinterest -->
          <a class="social-icons" href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><img src="{% static 'music/img/icn/pinterest.png' %}" alt="Pinterest" /></a>
          </li>
          <li>
          <!-- Google+ -->
          <a class="social-icons" href="https://plus.google.com/share?url={{ ABS_URL }}" target="_blank"><img src="{% static 'music/img/icn/google.png' %}" alt="Google" /></a>
          </li>   
          <li>
          <!-- Twitter -->
          <a class="social-icons" href="http://twitter.com/share?url={{ ABS_URL }}&text=Listen%20to%20and%20download%20{{album.name}}&hashtags=#music" target="_blank"><img src="{% static 'music/img/icn/twitter.png' %}" alt="Twitter" /></a>
          </li>
          <li>
          <!-- Facebook -->
          <a id="social-fb" class="social-icons" href="http://www.facebook.com/sharer.php?u={{ ABS_URL }}/"target="_blank"><img src="{% static 'music/img/icn/facebook.png' %}" alt="Facebook" /></a>
          </li>  
    </div>
    <div id="album-detail" class="row-fluid">
      <div id="track-info" class="col-md-4">
        <h1>{{album.name}} {% if album.is_single %}<span class="single">[Single]</span>{% endif %}</h1>
      
        <p id="album-description">
          {{album.description|safe}}
        </p>

        <div id="payment-footer">
            <form action="" method="POST">
              {% csrf_token %}  
              {% if album.released %}
              <button id="pay-button" class="payButton">Purchase Album ({{album.price_read}})</button>
              {% else %}
              <button id="pay-button" class="payButton">Available soon for purchase.</button>
              {% endif %}
            </form>
        </div>
      </div>
      <div id="track-listing" class="col-md-8">
        <h1>Track Listing</h1>
        <hr class="underliner">



        {% for track in tracks %}
          <div id="{{track.pk}}" class="track">
              {% if track.audio_file %}<a href="javascript:void(0)" data-toggle="tooltip" title="Listen" onclick="aud_play_pause({{track.pk}})"><img src="{% static 'music/img/icn/play.png' %}" id="button-{{track.pk}}" class="trackicon"></a>{% else %}<span class="trackicon"></span>{% endif %}
            <h2 class="track-name">
              {% if not album.is_single %}{{ forloop.counter }}. {% endif %}{{track.name}} {% if track.lyrics %}
            </h2>
            <h3 class="lyrics"> 
              <a href="javascript:void(0)" title="Lyrics" onclick="$('#lyrics-{{track.pk}}').slideToggle(200)">{% if track.lyrics %}lyrics{% endif %}</a></span>{% endif %}
            </h3>


            <div class="audio-player" style="display:none;">
              <audio id="music-{{track.pk}}" trackpk="{{track.pk}}" controls preload="auto" ended="audio_fullstop()">
                <source src="/stream/{{track.pk}}/?tracktoken={{tokens|get_token:track}}" type="audio/mp3">
              </audio>
            </div>

            <script>
            // Fix HTML5 Audio Sprites so they're seekable 
            var e = document.getElementById('music-{{track.pk}}')
            e.play()
            e.pause()
            </script>
          </div>
          <hr>
          {% if track.lyrics %}
            <div id="lyrics-{{track.pk}}" style="display:none;">
              <h3 style="margin-left:43px;">Lyrics</h3>
              <p style="padding:5px;margin-left:38px;">{{track.lyrics|safe}}</p>
                <hr>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<script src="{% static 'music/js/modernizr.custom.js' %}"></script>
<script src="{% static 'music/js/menu.js' %}"></script>
    <script>
      new newMenu( document.getElementById( 'm-menu' ) );
    </script>

<script>

function check_time_played(_id){
  var audio = document.getElementById("music-" + _id.toString());

  // Played more than one second
  if( audio.duration - audio.currentTime >= 1 && !audio.sent1){
    //console.log("start");
    audio.sent1=true;
  }
  // Played more than half
  if( audio.currentTime / audio.duration >= 0.5 && !audio.sent2){
    //console.log("half");
    audio.sent2=true;
  }

  // Played ~entire song
  if( audio.currentTime / audio.duration >= 0.9 && !audio.sent3){
    //console.log("whole");
    audio.sent3=true;
  }
}

var audio_inteval = null;

function clear_audio_interval() {
  clearInterval(audio_inteval);
}

$("audio").each(function() {
  // Do something when any song ends
  var self = this;
  this.addEventListener('ended', function (){
    // Clear the function being run on interval to avoid memory leak.
    clear_audio_interval();
    var elementArray;
    elementArray = document.getElementsByClassName("track");

    // Pause all songs when any song ends
    for(var i = 0; i < elementArray.length; i++)
    {
        em = document.getElementById("music-" + elementArray[i].id.toString())
        eb = document.getElementById("button-"+  elementArray[i].id.toString())
        em.pause();
        eb.src="{% static 'music/img/icn/play.png' %}"
    } 
    // Play next song if there's one available. Seek beginning beforehand.
    audioArray = document.getElementsByTagName("audio")
    var current = 0
    while (audioArray[current] != self) {
      current = current + 1
    }
    try {
      next = audioArray[current + 1];
    } catch(err) {
      next = null;
    }
    if (next != null) {
      console.log(next.trackpk)
      aud_play_pause(next.id.split("-")[1])
    }
  });
});

function aud_play_pause(_id) {
  var play = "1"
  var audio = document.getElementById("music-" + _id.toString());
  var playPause = document.getElementById("button-"+ _id.toString())

  if (audio.paused || audio.ended) {
    // Play track
    audio_inteval = setInterval(function() {check_time_played(_id)}, 1000)
    var elementArray;
    elementArray = document.getElementsByClassName("track");
    for(var i = 0; i < elementArray.length; i++)
    {
        em = document.getElementById("music-" + elementArray[i].id.toString())
        eb = document.getElementById("button-"+  elementArray[i].id.toString())
        em.pause();
        eb.src="{% static 'music/img/icn/play.png' %}"
    }  
    playPause.src="{% static 'music/img/icn/pause.png' %}"
    audio.play();
  } else {
    // Pause track
    clearInterval(audio_inteval)
    playPause.src="{% static 'music/img/icn/play.png' %}"
    audio.pause();
 }
}


var handler = StripeCheckout.configure({
  key: '{{stripe_key}}',
  image: '{{album.cover_art.url}}',
  token: function(token) {
      $.ajax({
        type: "POST",
        url: '/charge/',
        data:  {'stoken':token.id, 
                'email':token.email,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'album':{{album.pk}}
              },
      }).done(function(response) { 
        window.location.href = response.redirecturl;
      });
  }
});

{% if album.released %}
document.getElementById('pay-button').addEventListener('click', function(e) {
  // Open Checkout with further options
  handler.open({
    name: '{{album.name}}',
    description: '{{album.name}} Digital Download',
    amount: {% if album.price_incents %}{{album.price_incents}}{% else %}0{% endif %}
  });
  e.preventDefault();
});
{% endif %}

// Create new image to load bg into
$('<img/>').attr('src', '{{album.background.url}}').load(function() {
   $(this).remove(); // prevent memory leaks
   // fade in bg img when all is loaded
   $('#album-art').css('background-image', "url('{{album.background.url}}')").animate({ opacity: 1 }, { duration: 500 });
});

function parallax(){
    var scrolled = $(window).scrollTop();
    $('#album-art').css('background-position', "left " + (-(scrolled * 0.2)).toString() + 'px');
}
$(window).scroll(function(e){
    parallax();
});
</script>

<style>
.payButton {
  border-left:15px solid {{album.color}};
}
</style>

{% endblock %}