<!DOCTYPE html>
<html>
  <head>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'music/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'music/css/style.css'     %}">

    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{% static 'music/js/detectMobile.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{album.name}}</title>

  </head>
  <body>
  <div class="overlay"></div>

  	<div class="wrapper">
    		{% block content %}{% endblock %}
      <div class="push"></div>
  	</div>
  	<div class="footer">
    <hr style="margin-bottom:8px;">
  	    <p>Powered by  <a href="https://github.com/jamiecounsell/pilot">Pilot</a></p> <p>|</p> <p>Design by <a href="http://www.jamiecounsell.me/">Jamie Counsell</a></p><p> | </p><p>Admin <a href="/admin/">Login</a></p>
  	</div>
  </body>
</html>