{% load analytical %}
{% load staticfiles %}
{% load thumbnail %}
<!DOCTYPE html>
<html>
  <head>
    {% analytical_head_top %}

    <link rel="stylesheet" type="text/css" href="{% static 'music/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'music/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'music/css/style.css'     %}">

    <link rel="icon" type="image/png" href="{{global_featuredalbum.cover_art.url}}">

    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{% static 'music/js/detectMobile.js' %}"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if album %}{{album.name}}{% else %}{{global_featuredalbum.name}}{% endif %}</title>

    {% if album %}

      <meta property="og:title" content="{{album.name}}"/>
      {% thumbnail album.cover_art "300x300" padding=True as im %}
        <meta property="og:image" content="{{global_siteURL}}{{im.url}}"/>
      {% endthumbnail %}

    {% else %}

      <meta property="og:title" content="{{global_featuredalbum.name}}"/>
      {% thumbnail global_featuredalbum.cover_art "300x300" padding=True as im %}
        <meta property="og:image" content="{{global_siteURL}}{{im.url}}"/>
      {% endthumbnail %}

    {% endif %}
    <meta property="og:image:height" content="150" />
    <meta property="og:description"
          content="Featured album: {{global_featuredalbum.name}}"/>

    {% analytical_head_bottom %}
  </head>
  <body>
  {% analytical_body_top %}
  <div id="fullpage-loader" style="display:none;">
    <div class="info"><span class="spinner-large"> </span><h2>Completing your purchase</h2></div>
  </div>

  	<div class="wrapper">
    		{% block content %}{% endblock %}
      <div class="push"></div>
  	</div>
  	<div class="footer">
    <hr style="margin-bottom:8px;">
  	    <p>Powered by  <a href="https://github.com/jamiecounsell/pilot">Pilot</a></p> <p>|</p> <p>Design by <a href="http://www.jamiecounsell.me/">Jamie Counsell</a></p><p> | </p><p>Admin <a href="/admin/">Login</a></p>
  {% analytical_body_bottom %}
  </body>
</html>