

* {
	margin: 0;
	outline:none;
}
html, body {
	height: 100%;
}

.wrapper {
	background-color: white;
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	margin: 0 auto -40px; /* the bottom margin is the negative value of the footer's height */
}

.push {
	height: 40px; /* .push must be the same height as .footer */
}

.footer {
	height:40px;
	width:100%;
	text-align: center;
}

.footer p {
	font-size: 0.8em;
	display: inline;
	opacity: 0.6;
}

.footer p:hover {
	opacity: 1;
}

.pinerror {
	margin-bottom:10px;
}

hr {
	margin: 0px;
}

.underliner {
    border: 0;
    height: 2px;
    background: #aaa;


}

h1 {
	margin-top: 0px !important;
}

.social-icons img {
	border-radius: 5px;
}

.menu-art {
	height:70px;
	width:70px;

}

.menu-art{
	padding:0;
	margin:0;
}


#social-top {
	margin-top: 10px;
	height:40px;
	width:100%;
}

#social-top ul li a {
	z-index: 2;
	cursor:pointer;
}

#social-top li {
	padding:5px;
	display: inline-block;
	float:right;
}
#social-top ul {
	margin:0;
	width: 100%;
	float: right;
	display: inline-block;
}

#social-top li img {
	width:25px;
	opacity: 0.7;
}

#social-top li img:hover{
	opacity: 1;
}

.stripe-button {
	display: none;
}

#payment-footer {
	padding-bottom: 30px;
	padding-top:15px;
	width:100%;
	text-align: center;
}

#pay-button {
	display: inline-block;
	text-align: center !important;
	margin:0 auto !important;
}

.single {
	font-size: 20px;
	vertical-align: middle;
}

#album-art {
	opacity:0;
	background-size: cover;
	background-repeat: no-repeat;
	width:100%;
	height:400px;
}

#album-description {
	text-align: justify;
}

#track-listing {
	margin-bottom: 50px;
}

.track {
	height:50px;
	line-height:10px;
	margin-top:10px;
}

.track a {
	height:20px;
	margin-top:10px;
}

.track-name, .lyrics {
	margin:0;
	padding-top:10px;
	height:100%;
	vertical-align: middle;
	margin-left:10px;
	font-size: 1.3em;
	display: inline-block;
	min-width:100px;
}

.trackicon{
	display:inline-block;
	width:25px;
	margin-top:-10px; 
	margin-right: 10px;
	opacity:0.6;
	border:0 !important;
}

.lyricsicon {
	opacity: 1;
}

.lyrics{
	float:right;
}

.lyrics a {
	color:#CCC;

}


#cover-art {
	margin-top:100px !important;
	width:250px;
	height:250px;
	margin:0 auto;
	-webkit-box-shadow: 0px 0px 20px 15px rgba(0, 0, 0, .50);
	-moz-box-shadow: 	0px 0px 20px 15px rgba(0, 0, 0, .50);
	box-shadow: 		0px 0px 20px 15px rgba(0, 0, 0, .50);
}



.cover-art-photo {
	width:250px;
	height:250px;
}

.payButton {
	width:100%;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	font-family: Arial;
	font-weight: bold;
	color: #575757;
	font-size: 20px;
	background: #ffffff;
	padding: 10px 20px 10px 20px;
	border: solid #c7c7c7 1px;
	text-decoration: none;

}
.payButton:hover {
	background-color:#f8f8f8;
}
.payButton:active {
	top:1px;
}


/* Purchases */

#purchase-container {
	padding-top:15px;
	position: relative;
	width:100%;
}

#purchase-pin-container, #purchase-help-container, #purchase-album-art-container, #purchase-thanks-container {
	width:300px;
	padding-right:0px;
	margin-top:10px;
    margin-left: auto;
    margin-right: auto;
}

.purchase-thanks h1  {
	text-align: center;
	width:100%;
	color:#555;
}

.purchase-thanks h2 {
	line-height: 1.4em;
	text-align: center;
	font-size: 1em;
	color:#555;
}

.purchase-cover-art-photo {
	width:300px;
}
.help-text {
	text-align: center;
}

.pin, .purchase-album-art, .purchase-album-thanks, .pinerror {
	width:300px;
	display: inline-block;
	margin:0 auto;
}
.pin input[type="text"] {
	font-style: "Courier New", Courier, monospace;
	line-height: 40px;
    padding: 10px;
    border: 1px solid #ddd;
    width: 72px;
    height: 70px;
    text-align: center;
    font-size: 40px;
}

#pin-button {
	margin-top: 10px;
	width: 100%;
	text-align: center;
}


@media (max-width:400px) {
	#cover-art {
		width:200px;
		height:200px;
	margin-top:100px !important;
	}
	.cover-art-photo {
		width:200px;
		height:200px;
	}
	#album-art {
		padding-top:40px;
		height:410px;
		background-attachment:initial;
	}

	#pay-button {
		width:100%;
	}


}

@media (max-width: 575px){
	#album-menu ul a li h4{
		display: none;
	}
	#album-menu ul a li{
		background:none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		width:100%;
	}
	#album-menu ul {
		margin-top:20px;
	}
	#album-menu {
		width:90%;
	}
	.menu-art {
		-webkit-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, .40);
		-moz-box-shadow: 	0px 0px 10px 10px rgba(0, 0, 0, .40);
		box-shadow: 		0px 0px 10px 10px rgba(0, 0, 0, .40);
		height:200px;
		width:200px;
	}
	.overlay {
		opacity: 0.7;
	}


}

@media (max-width:992px) {
  #social-top li img {

    max-width: 32px;
    z-index: 2;
  }
  #social-top ul {
  	padding:0px;
  	width: 100%;
  	margin:0 auto;
  }
  #social-top ul li {
  	    width:16.6%;
  }
  	.payButton {
		width:initial;
	}
	#social-top {
		text-align: center;
	}
}