
.stripe-button {
	display: none;
}

#payment-footer {
	width:100%;
}

#pay-button {
	display: inline-block;
	text-align: center !important;
	margin:0 auto !important;
}

.single {
	font-size: 20px;
	vertical-align: middle;
}

#album-art {
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment:fixed;
	width:100%;
	height:450px;
}

#album-detail {

}

#album-description {
	text-align: justify;
}

.track-name {
  display: inline-block;
  min-width:100px;
}

.audio-player {

}

#cover-art {
	margin-top:75px !important;
	width:300px;
	height:300px;
	margin:0 auto;
	-webkit-box-shadow: 0px 0px 20px 15px rgba(0, 0, 0, .50);
	-moz-box-shadow: 	0px 0px 20px 15px rgba(0, 0, 0, .50);
	box-shadow: 		0px 0px 20px 15px rgba(0, 0, 0, .50);
}

.cover-art-photo {
	width:300px;
	height:300px;
}

.payButton {
	-moz-box-shadow:inset 0px 34px 0px -15px #f0f0f0;
	-webkit-box-shadow:inset 0px 34px 0px -15px #f0f0f0;
	box-shadow:inset 0px 34px 0px -15px #f0f0f0;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d1d1d1), color-stop(1, #f2f2f2));
	background:-moz-linear-gradient(top, #d1d1d1 5%, #f2f2f2 100%);
	background:-webkit-linear-gradient(top, #d1d1d1 5%, #f2f2f2 100%);
	background:-o-linear-gradient(top, #d1d1d1 5%, #f2f2f2 100%);
	background:-ms-linear-gradient(top, #d1d1d1 5%, #f2f2f2 100%);
	background:linear-gradient(to bottom, #d1d1d1 5%, #f2f2f2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1d1d1', endColorstr='#f2f2f2',GradientType=0);
	background-color:#d1d1d1;
	border:1px solid #DDD;
	display:inline-block;
	cursor:pointer;
	color:#454545;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #e8e8e8;
}
.payButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f2f2f2), color-stop(1, #d1d1d1));
	background:-moz-linear-gradient(top, #f2f2f2 5%, #d1d1d1 100%);
	background:-webkit-linear-gradient(top, #f2f2f2 5%, #d1d1d1 100%);
	background:-o-linear-gradient(top, #f2f2f2 5%, #d1d1d1 100%);
	background:-ms-linear-gradient(top, #f2f2f2 5%, #d1d1d1 100%);
	background:linear-gradient(to bottom, #f2f2f2 5%, #d1d1d1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#d1d1d1',GradientType=0);
	background-color:#f2f2f2;
}
.payButton:active {
	border:1px solid #000;
}


@media (max-width:401px) {
	#cover-art {
		width:200px;
		height:200px;
    margin-top:15px !important;
	}
	.cover-art-photo {
		width:200px;
		height:200px;
	}
	#album-art {
		padding-top:40px;
		height:300px;
		background-attachment:initial;
	}
  #social-top {
    display:none;
  }
  #social-bottom {
    display:inline-block;
  }
}