* {
	margin: 0;
	outline:none;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	margin: 0 auto -40px; /* the bottom margin is the negative value of the footer's height */
}

.push {
	height: 40px; /* .push must be the same height as .footer */
}

.footer {
	height:40px;
	width:100%;
	text-align: center;
}

.error {
	margin-bottom:10px;
}

hr {
	margin: 0px;
}

.underliner {
    border: 0;
    height: 2px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #222, #FFF); 
    background-image:    -moz-linear-gradient(left, #222, #FFF); 
    background-image:     -ms-linear-gradient(left, #222, #FFF); 
    background-image:      -o-linear-gradient(left, #222, #FFF); 

}

h1 {
	margin-top: 0px !important;
}

.social-icons img {
	border-radius: 5px;
}

#social-top {
	margin-top: 10px;
	height:40px;
	width:100%;
}

#social-top ul li a {
	z-index: 99;
	cursor:pointer;
}

#social-top li {
	padding:5px;
	display: inline-block;
	float:right;
}
#social-top ul {
	margin:0;
	width: 100%;
	float: right;
	display: inline-block;
}

#social-top li img {
	width:25px;
	opacity: 0.7;
}

#social-top li img:hover{
	opacity: 1;
}

.stripe-button {
	display: none;
}

#payment-footer {
	padding-bottom: 30px;
	padding-top:15px;
	width:100%;
	text-align: center;
}

#pay-button {
	display: inline-block;
	text-align: center !important;
	margin:0 auto !important;
}

.single {
	font-size: 20px;
	vertical-align: middle;
}

#album-art {
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment:fixed;
	width:100%;
	height:350px;
}

#album-description {
	text-align: justify;
}

#track-listing {
	margin-bottom: 50px;
}

.track {
	height:40px;
}

.track-name {
	margin:0;
	margin-top:12px;
	height:100%;
	vertical-align: middle;
	margin-left:10px;
	font-size: 1.3em;
	display: inline-block;
	min-width:100px;
}

.audio-player {

}

.trackicon{
	display:inline-block;
	width:25px;
	margin-top:-10px; 
	margin-right: 10px;
	opacity:0.6;
	border:0 !important;
}


#cover-art {
	margin-top:50px !important;
	width:250px;
	height:250px;
	margin:0 auto;
	-webkit-box-shadow: 0px 0px 20px 15px rgba(0, 0, 0, .50);
	-moz-box-shadow: 	0px 0px 20px 15px rgba(0, 0, 0, .50);
	box-shadow: 		0px 0px 20px 15px rgba(0, 0, 0, .50);
}

.cover-art-photo {
	width:250px;
	height:250px;
}

.payButton {
	outline: 0;
	width: 100%;
	-moz-box-shadow:inset 0px 34px 0px -15px #f0f0f0;
	-webkit-box-shadow:inset 0px 34px 0px -15px #f0f0f0;
	box-shadow:inset 0px 34px 0px -15px #f0f0f0;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d1d1d1), color-stop(1, #f2f2f2));
	background:-moz-linear-gradient(top, #d1d1d1 5%, #f2f2f2 100%);
	background:-webkit-linear-gradient(top, #d1d1d1 5%, #f2f2f2 100%);
	background:-o-linear-gradient(top, #d1d1d1 5%, #f2f2f2 100%);
	background:-ms-linear-gradient(top, #d1d1d1 5%, #f2f2f2 100%);
	background:linear-gradient(to bottom, #d1d1d1 5%, #f2f2f2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1d1d1', endColorstr='#f2f2f2',GradientType=0);
	background-color:#d1d1d1;
	border:1px solid #DDD;
	display:inline-block;
	cursor:pointer;
	color:#454545;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #e8e8e8;
}
.payButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f2f2f2), color-stop(1, #d1d1d1));
	background:-moz-linear-gradient(top, #f2f2f2 5%, #d1d1d1 100%);
	background:-webkit-linear-gradient(top, #f2f2f2 5%, #d1d1d1 100%);
	background:-o-linear-gradient(top, #f2f2f2 5%, #d1d1d1 100%);
	background:-ms-linear-gradient(top, #f2f2f2 5%, #d1d1d1 100%);
	background:linear-gradient(to bottom, #f2f2f2 5%, #d1d1d1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#d1d1d1',GradientType=0);
	background-color:#f2f2f2;
}
.payButton:active {
	border:1px solid #777;
}


/* Purchases */

#purchase-container {
	padding-top:35px;
	position: relative;
	width:100%;
}

#purchase-pin-container, #purchase-help-container, #purchase-album-art-container, #purchase-thanks-container {
	width:300px;
	padding-right:0px;
	margin-top:10px;
    margin-left: auto;
    margin-right: auto;
}

.purchase-thanks h1  {
	text-align: center;
	width:100%;
	color:#555;
}

.purchase-thanks h2 {
	line-height: 1.4em;
	text-align: center;
	font-size: 1em;
	color:#555;
}

.purchase-cover-art-photo {
	width:300px;
}
.help-text {
	text-align: center;
}

.pin, .purchase-album-art, .purchase-album-thanks {
	width:300px;
	display: inline-block;
	margin:0 auto;
}
.pin input[type="text"] {
	font-style: "Courier New", Courier, monospace;
	line-height: 40px;
    padding: 10px;
    border: 1px solid #ddd;
    width: 72px;
    height: 70px;
    text-align: center;
    font-size: 40px;
}

#pin-button {
	margin-top: 10px;
	width: 100%;
	text-align: center;
}


@media (max-width:400px) {
	#cover-art {
		width:200px;
		height:200px;
    margin-top:15px !important;
	}
	.cover-art-photo {
		width:200px;
		height:200px;
	}
	#album-art {
		padding-top:40px;
		height:300px;
		background-attachment:initial;
	}

  #pay-button {
  	width:100%;
  }

}

@media (max-width:992px) {
  #social-top li img {

    max-width: 32px;
    z-index: 99;
  }
  #social-top ul {
  	padding:0px;
  	width: 100%;
  	margin:0 auto;
  }
  #social-top ul li {
  	    width:16.6%;
  }
  	.payButton {
		width:initial;
	}
	#social-top {
		text-align: center;
	}
}