{% extends "layout.html" %}
{% block content %}
<div id="purchase-container" >
	<div id="purchase-thanks-container">
		<div class="purchase-thanks">
			<h1>Thank you!</h1>
			<h2>Thank you for purchasing {{album.name}}. Download instructions have been sent to {{user_email}}. Please enter the PIN included in the email to start your download.</h2>
		</div>
	</div>
	<div id="purchase-album-art-container">
		<div class="purchase-album-art">
			<img class="purchase-cover-art-photo"  src="{{album.cover_art.url}}">
		</div>
		<div id="purchase-pin-container" >
		{% if error %}
		<div class="alert alert-danger error">
		<p>{{error}}</p>
		</div>
		{% endif %}
			<div class="pin">
			<form autocomplete="off" id="form-pin" method="POST" action="{{url}}">
				{% csrf_token %}  
				<input type="text" class="txtPin" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength=1 id="pin1" onkeyup="checkBackspace(this)" />
				<input type="text" class="txtPin" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength=1 id="pin2" onkeyup="checkBackspace(this)" />
				<input type="text" class="txtPin" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength=1 id="pin3" onkeyup="checkBackspace(this)" />
				<input type="text" class="txtPin" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength=1 id="pin4" onkeyup="checkBackspace(this)" />

				<button id="pin-button" class="payButton" type="submit"> Download</button>
			</form>
			</div>
		</div>
		<div id="purchase-help-container">
			<div class="help-text">
				<a href="mailto:jamiecounsell@me.com">Need Help?</a>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$('.txtPin').keypress(function() {
	if (event.charCode >= 48 && event.charCode <=57) {
		if (this.id != "pin4") {
	        var inputs = $(this).closest('form').find(':input');
	        inputs.eq(inputs.index(this)+ 1).focus();
	    }
	} else {
		return false;	
	}
	});

	$(".txtPin").click(function() {
	    $('html, body').animate({
	        scrollTop: $("#form-pin").offset().bottom
	    }, 200);
	});

	function checkBackspace(field) {
	 var e = event;
	 var key = e.which || e.keyCode;
	 switch (key)
	 {
	  case 8://Backspace
	  	$("#pin1").val('')
	  	$("#pin2").val('')
	  	$("#pin3").val('')
	  	$("#pin4").val('')
	  	document.getElementById('pin1').focus()
	  break;
	 }
	}

	$("#form-pin").on("submit", function(e) {
		var PIN = $("#pin1").val() + $("#pin2").val() + $("#pin3").val() + $("#pin4").val()
	  	$('<input />').attr('type', 'hidden')
          .attr('name', "PIN")
          .attr('value', PIN)
          .appendTo('#form-pin');
	});

</script>

{% endblock %}